body {
  font-family: Arial, Helvetica, sans-serif
}

h1 {
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: solid #53A60E;
  padding: 10px;
  border-width: 10px;
  background-color: black;
}

.topic h2, p, ol{
  color: #0f0fa1;
  margin: 10px;
  text-align: center;
}

.topic {
  float: left;
  width: 29%;
  margin: 1%;
  padding: 1%;
}